/*Color Pallet*/
:root{
    --font-color:#555; /*variable for the font color, so we can change more easily*/
    --font-MainBabyBlue: #faf0ca;
    --font-MainMiddleBlue:#ee964b;
    --font-MainDarBlue:#0d3b66;
    --font-MainYellow:#f4d35e;
    --font-MainOrange:#f95738;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.overflowControl{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block;
}
/*writing side of the hero*/
.hero{
    width: 49%;
    min-width: none;
    height: 100vh;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
/*images*/
.hero img{
    position: absolute;
    height: 105vh;
    top: -4vh;
    left: -50%;
}

.yellow{
    color: var(--font-MainMiddleBlue);
}
/*container for the whole hero text*/
.wordBox{
position: absolute;
top: 25vh;
width: 58vw;
left: calc(50vw - 100px);
text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
/*cotainer for the changing words*/
.wordList{
    display: inline-block;
    
}
.wordList span{
    position: absolute;
    top: 17vh;
    left: calc(15% - 5px);
    overflow: hidden;
    transform: translateY(-50%);
    animation: fade 12s linear infinite;
    opacity: 0;
    color: var(--font-MainMiddleBlue);
}
/*delay for the Animation of the words*/
.qOne {
    animation-delay: 0s;
}
.wordList span:nth-child(2) { 
    animation-delay: 2s;
}
.wordList span:nth-child(3) { 
    animation-delay: 4s;
}
.wordList span:nth-child(4) { 
    animation-delay: 6s;
}
.wordList span:nth-child(5) { 
    animation-delay: 8s;
}
.wordList span:nth-child(6) { 
    animation-delay: 10s;
}


/*the button to schedule a tour*/
.tourButton{
    position:absolute;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 100;
    color: snow;
    background-color: var(--font-MainMiddleBlue);
    text-align: center;
    transition: all 0.2s;
    font-size: 20px;
    width: 50vw;
    top:30vh;
    left: calc(50% - 9vw);
    transform: translate(-50%, -50%);
}
.tourButton:hover{
    background-color: var(--font-MainDarBlue);
    cursor: pointer;
}

/*Covid policy area*/
.covidPolicy{
    box-sizing: border-box;
    width: 96%;
    margin: 0px 2% 20px 2%;
    border: 5px solid;
    border-color: var(--font-MainYellow);
    border-radius: 20px;
    float: left;
    padding: 40px;
    color: var(--font-MainDarBlue);
    text-align: justify;
}
.covidPolicy h3{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}


/*middle area about box*/
.bgAboutBox{
    width: 100vw;
    position: relative;
}
/*titles*/
.bgAboutBox h3{
    color: snow;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
/*all boxes*/
.aboutBox{
    width: 90%;
    padding: 5%;
    display: flex;
    display:inline-table;
    align-items: center;
    transition: all 0.2s;
    margin: 1%;
    background-color: var(--font-MainMiddleBlue);
    border-radius: 30px;
    border: 2px dashed snow;
    vertical-align: top;
    float: left;
}
.aboutBox:hover{
    transform: scale(1.1);/*to make it grow*/
}

.whoWeAre img, .ourMission img, .ourVision img{
    width: 80%;
}

/*the locations area*/
.indexAreaLocations{
    width: 98vw;
    background-color: var(--font-MainBabyBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ALBox{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.indexAreaLocations span{
    width: 90vw;
    font-size: x-large;
}
.indexAreaLocations img{
    width: 40vw;
}
.indexAreaLocations p{
    padding: 2px;
}


/*separation yellow box*/
.separationYellowBox{
    background-color: var(--font-MainYellow);
    width: 94%;
    float: left;
    height: 50px;
    color: var(--font-MainDarBlue);
    text-align: center;
    margin: 3%;
    font-size: 30px;
    justify-content: center;
}

/*Parents testimonies area*/
.bgParentsTestimonies{
    margin: 0px 0px 50px 0px;
    position: relative;
    width: 100%;
    min-height: 400px;
    z-index: 2;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.parentsTList{
    width: 40%;
    background: var(--font-MainDarBlue);
    position:relative;
    min-height: 380px;
    text-align: justify;
    padding: 20px;
}
.parentsTList::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid var(--font-MainDarBlue);
    border-right: 10px solid transparent;
    border-top: 10px solid var(--font-MainDarBlue);
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 36px;
}
.chatBox{
    color: snow;
    margin: 0;
    font-size: 15px;
    margin: 0px;
}
.changingPTList{
    padding-left: 0px;
    position: relative;
}

@keyframes fade{
    0% {opacity:0;transform: translateY(-30px);}
    2% {opacity:1;transform: translateY(0px);}
    15% {opacity:1;transform: translateY(0px);}
    18% {opacity:0;transform: translateY(30px);}
    100% {opacity:0;transform: translateY(30px);}
    
}