
:root{
    --font-color:#555; /*variable for the font color, so we can change more easily*/
    --font-MainBabyBlue: #faf0ca;
    --font-MainMiddleBlue:#ee964b;
    --font-MainDarBlue:#0d3b66;
    --font-MainYellow:#f4d35e;
    --font-MainOrange:#f95738;
}
body{
    overflow-x: hidden;
}
.container{
    z-index: 2;
    position: relative;
    margin: 0 auto;
    width: 500px;
    box-shadow: 0 15px 35px rgb(50,50,93,.1), 0 15px rgba(0,0,0,.07);
    padding: 2em;
    background-color: white;
    margin: 20px;
    
}
.form-group{/*div tag selecting each form element*/
    margin-bottom: 1.5em;
}
.formLabelShow{
    font-size: .75em;
    display: flex;
    color:#aaa;
    display: block;/*the label shows on top of the element*/
}
.form-label{
    font-size: .75em;
    color:var(--font-color);
    display: block;/*the label shows on top of the element*/
    opacity:0;/*for animation*/
    transition: all .3s;
    transform: translateX(-50px);/*put the label to the left to creat and "entrance" animation*/
}

.form-control{/*control the input of the form elements*/
    box-shadow: none;
    border-radius: 0em;
    border-color: #ccc;
    border-style: none none solid none;/*top right bottow left*/
    font-size: 1.25em;
    width: 100%;
    transition: all .6s;/*setting the time for the transitions creating a animation*/
}
.form-control::placeholder{
    color: #aaa;/*changes the color of the place holder*/
}
.form-control:focus{/*what happens when the elements of the form get in focus (are selected)*/
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
}
.form-control:invalid:focus{/*while the focus has not filled the requirement it is red*/
    border-color: red;
}
.form-control:valid:focus{/*as soon as the focus has pass the requirement it turns green*/
    border-color: green;
}
.form-group:focus-within{/*scaling both, the object and the parent object (in this case the whole div)*/
    transform: scale(1.1,1.1);
}
/*styling the button*/
.btn, .callTour a{
    background: linear-gradient(45deg, #aaa, transparent);
    border: 0px 0px 1px 0px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 10 50px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover, .callTour a:hover{
    border-color: linear-gradient(45deg, rgb(109, 178, 243), transparent);
    color: var(--font-hover-color);
    transform: scale(1.1,1.1);
}

/*turning off the resize option of the text area*/
textarea{
    resize: none;
}

/*Putting the labels as placeholders*/
.focused> .form-label{
    opacity: 1;
    transform: translateX(0px);
}

.tourTitle, .callTour {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: gray;
}