
/*Color Pallet*/
:root{
    --font-color:#555; /*variable for the font color, so we can change more easily*/
    --font-MainBabyBlue: #faf0ca;
    --font-MainMiddleBlue:#ee964b;
    --font-MainDarBlue:#0d3b66;
    --font-MainYellow:#f4d35e;
    --font-MainOrange:#f95738;
}
body{
    overflow-x: hidden;
}
.overflowControl{
    overflow-x: hidden;
}
/*classrooms area*/
#classroomInfo{
    text-align: center;
}
.classroomHeading{
    background-image:url(/images/The-Sun-Also-Sets-Silhouette.svg);
    background-position: bottom;
}
#classroomInfo h2{
    position: relative;
    z-index: 3;
    font-size: 50px;
    margin: 20px;
    color: var(--font-MainDarBlue);
    background-color: rgba(255, 250, 250, 0.384);
}
.classroomMainImages{
z-index: 1;
position: relative;
width: 100%;
min-height: 50px;

}
.clasImage2{
    position: absolute;
    right: 5%;
    height: 250px;
    bottom: -300%;
}
.mainWriting{
    position: relative;
    z-index: 3;
    background-color: rgba(255, 250, 250, 0.733);
    color: var(--font-MainDarBlue);
    font-size: 16px;
    padding: 5%;
    text-align: center;
    width: 70%;
    margin: 20px 0px 20px 10%;
    top: -60px;
    border-radius: 20px;
}

/*rooms scrool*/
.horizontalSlider{
    position: relative;
    display: block;
    overflow-x: scroll;
    padding: 20px;
    box-sizing: border-box;
}
.horizontalSlider::-webkit-scrollbar{
    display: none;
}
.horizontalSlider{
    -ms-overflow-style: none;
}
.bgRoomContainer{
    display: block;
    white-space: nowrap;
}
.roomItem{
    display: inline-block;
    margin-right: 15px;
    width: 400px;
    height: 300px;
    background-color: var(--font-MainBabyBlue);
}
.roomTitle{
    position: relative;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: var(--font-MainDarBlue);
    padding: 20px;
    background-color: var(--font-MainBabyBlue);
    border-radius: 20px;
    border:2px dashed var(--font-MainDarBlue);
    margin: 0px 30% 0px 30%;
}

/*prices*/
#prices{
    background:linear-gradient(45deg,#fcdd8ee7, transparent );
    padding: 0px 5% 5% 5%;
}
.serviceRates{
    color: var(--font-MainDarBlue);
    font-size: 30px;
    font-weight: 600;
    padding:20px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}
.priceTable{
    position: relative;
    border-collapse: collapse;
    padding: 5px;
    font-size: 15px;
    min-width: 450px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px var(--font-color);
}
/*editing the head of the table*/

.priceTable thead tr{
    background-color: var(--font-MainDarBlue);
    color: snow;
    text-align: center;
    font-weight: bold;
}
.priceTable tbody tr{
    border-bottom: 2px solid var(--font-MainDarBlue);
}

td, th{
    padding: 12px;
}
tr{
    transition:all .2 ease-in;
    cursor: pointer;
}
tr:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 20px var(--font-color);
}

/*other prices area*/
.otherPrices{
    display: flex;
}
.oderOption{
    position: relative;
    width:25%;
    min-width: 200px;
    margin: 3%;
    border-radius: 5px;
    border: 2px solid var(--font-MainDarBlue);
    font-size: 18px;
    overflow: hidden;
    background-color: var(--font-MainBabyBlue);
    transition:all .2 ease-in;
    cursor: pointer;
}
.optionTitle{
    background-color: snow;
    padding: 2%;
    text-align: center;
    color: var(--font-MainDarBlue);
    font-size: 18px;
    font-weight: bold;
}
.optionClassName{
    color:gray;
    margin: 2%;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.optionWriting{
    color: var(--font-MainDarBlue);
    font-weight: 300;
    font-size: 18px;
    margin: 5%;
    text-align: justify;
}
.oderOption:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 20px var(--font-color);
}
.partTimeOffers{
    width: 100%;
    background-color: snow;
    color: var(--font-MainMiddleBlue);
    font-size: 18px;
    padding: 5%;
    text-align: center;
}

@media screen and (max-width:780px)
{
    .otherPrices{
        display: inline-block;
        justify-content: center;
        align-content: center;
    }
    .oderOption{
        width: 70%;
    }
    .optionClassName{
        font-size: 14px;
    }
    .optionClassName{
        font-size: 10px;
    }
    .optionWriting{
        font-size: 14px;
    }
}
@media screen and (max-width:730px)
{
    .roomItem{
        width: 300px;
        height: 230px;
    }
    .roomItem img{
        width: 300px;
    }
}
